<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Details for sample set {{ data['name'] }}</title>

<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>

</head>
<body>
SSEA Detailed Report
<br/><br/><br/>
<table class="gridtable">
<thead>
<tr><th>Sample set parameter</th><th>Value</th></tr>
</thead>
<tbody>
<tr><td>Name</td><td>{{ name }}</td></tr>
<tr><td>Sample set name</td><td>{{ data['name'] }}</td></tr>
<tr><td>Sample set description</td><td>{{ data['desc'] }}</td></tr>
<tr><td>Sample set size</td><td>{{ data['size'] }}</td></tr>
<tr><td>Enrichment Score (ES)</td><td>{{ data['es'] }}</td></tr>
<tr><td>Normalized Enrichment Score (ES)</td><td>{{ data['nes'] }}</td></tr>
<tr><td>Nominal p-value</td><td>{{ data['pval'] }}</td></tr>
<tr><td>FDR q-value</td><td>{{ data['qval'] }}</td></tr>
<tr><td>FWER p-value</td><td>{{ data['fwer'] }}</td></tr>
<tr><td>Rank at maximum running ES</td><td>{{ data['rank_at_max'] }}</td></tr>
<tr><td>Leading edge size</td><td>{{ data['leading_edge_size'] }}</td></tr>
</tbody>
</table>

<br/><br/><br/>

<img name="enplot_{{ name }}_vs_{{ data['name'] }}" src="{{ data['eplot_png'] }}"/>
<br/>
Fig 1: Enrichment plot for {{ data['name'] }}
<br/>
Profile of the running ES score & positions of sample set members in the ordered list
<br/>
<a href="{{ data['eplot_pdf'] }}">Download PDF</a>
<br/><br/><br/>

<table class="gridtable">
<thead>
<tr>{% for colname in data['details']['header'] %}<th>{{ colname }}</th>{% endfor %}</tr>
</thead>
<tbody>
{% for row in data['details']['rows'] %}
<tr>
  {% for val in row %}
    <td>{{ val }}</td>
  {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

<br/><br/><br/>

<img name="null_dist_{{ name }}_vs_{{ data['name'] }}" src="{{ data['null_png'] }}"/>

<br/>
Fig 2: Random ES distribution for {{ data['name'] }}
<br/>
Gene set null distribution of ES for {{ data['name'] }}
<br/>
<a href="{{ data['null_pdf'] }}">Download PDF</a>

</body>
</html>