table.gridtable {
	font-family: arial;
	font-size: 8pt;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;		
}
table.gridtable th {
	font-size: 8pt;
	padding: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #e6EEEE;
}
table.gridtable tbody td {
	color: #3D3D3D;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #F0F0F6;
}